.para-container {
  overflow: hidden;
  height: 500px;

  .para-block {
    will-change: transform;
    background-image: url('https://pixabay.com/static/uploads/photo/2015/06/03/14/24/ladybug-796481_960_720.jpg');
	  background-repeat: no-repeat;
	  background-position: center center;
	  background-size: cover;
  }
}