/**
 * Mixins for centering text elements
 */
/**
 * Basic body styling
 */
body {
  background-color: #f4f4f4;
}
/**
 * Remove padding from all bootstrap columns
 */
[class*="col"],
[class*="container"] {
  padding: 0;
}
/**
 * Allow for absolute <pre> comments
 */
.para-container {
  position: relative;
}
/**
 * Comments
 */
pre {
  margin: 0;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 12px;
  z-index: 1;
  padding: 5px;
  background-color: rgba(245, 245, 245, 0.5);
  white-space: pre-wrap;
}
/**
 * Various filler sized
 */
.filler {
  position: relative;
}
.filler > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
